div {
    letter-spacing: 0.035em;
    font-family: retro-game;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
}

@font-face {
    font-family: 'retro-game';
    src: url('../../../assets/fonts/retro-game.ttf');//mine
  }


  