ion-slides {
    height: 100%;
    background-color: black;
}

.slide-spiderman {
    height: 100%;
    background-image: url('../../../assets/img/spiderman.jpg');
    background-position: center;
    background-size: cover;
}


.slide-superman {
    height: 100%;
    background-image: url('../../../assets/img/superman.jpg');
    background-position: center;
    background-size: cover;
}