<ion-app>
  <ion-app>


    <div id="divSuperPuesto" [style.display]="mostrarSplash ? 'flex' : 'none'">
  
      <div id="canvas">

        <div id="divSplash">
  
        
          <h1 id="nombreApp">Juego de Movimiento Kinético</h1>
        
  
  
        <img id="escudo" src="../assets/img/superman_game.png">
        <img id="spiderman" src="../assets/img/spiderman_game.png">
  
  
        <h1 id="alumnoDivision">Joaquin Enriquez | 4ºB</h1>

      </div>
  

  
  
      </div>
  
  
  
  
  
  
    </div>




  <ion-router-outlet></ion-router-outlet>
</ion-app>
