<ion-content class="ion-no-padding ion-no-margin">

<div id="canvas">

  <h1 class="ion-no-padding ion-no-margin title">Mejores resultados</h1>

  <div class="bubble bubble--highlight-1">
    {{this.scoredList[0]?.userName}} {{this.scoredList[0]?.score}} 
  </div>

  <div class="bubble bubble--highlight-2">
    {{this.scoredList[1]?.userName}} {{this.scoredList[1]?.score}} 
  </div>

  <div class="bubble bubble--highlight-3">
    {{this.scoredList[2]?.userName}} {{this.scoredList[2]?.score}} 
  </div>

</div>




</ion-content>

