<ion-content no-bounce class="video-container no-scroll">

  <video autoplay loop preload="none" muted="" playsinline="" data-wf-ignore="true"
    poster="../../../assets/img/postercomic.png" oncanplay="this.muted=true">
    <source src="../../assets/video/comic.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>


<div class="bubble bubble--highlight overlay-desc" (click)="goToSelectPlayer()">
  Jugar
</div>


<div class="bubble bubble--highlight-2 overlay-desc" (click)="showScoreTable()">
  Mejores puntajes
</div>


<div class="bubble bubble--highlight-3 overlay-desc" (click)="getOut()">
  Salir
</div> 


</ion-content>