<ion-content no-bounce class="video-container no-scroll">

  <video autoplay loop preload="none" muted="" playsinline="" data-wf-ignore="true"
    poster="../../../assets/img/postercomic.png" oncanplay="this.muted=true">
    <source src="../../assets/video/comic.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>


<!-- bubble highlighting something  -->
<div class="bubble bubble--highlight overlay-desc" (click)="goToSelectPlayer()">
  Jugar
</div>



  <!-- bubble introducing a scene -->
<div class="bubble-2 bubble--highlight2 overlay-desc">
  Mejores puntajes
</div>






</ion-content>